*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'nunito' sans-serif;
    font-size: 20px;
}
body{
    background-color: rgb(202, 207, 207);
}

.header{
    background-color:rgb(72, 88, 160);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 80px;
    padding: 5px 10%;
}
.header .logo{
    cursor: pointer;
    border-radius: 10px;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img.logo{
    transform: scale(2.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;
}

.header .nav-links a{
    font-size: 700;
    color: rgb(18, 18, 19);
    text-decoration: none;
}

.header .nav-links li a:hover{
    color: rgb(39, 161, 170);
}

.header .btn button{
    font-weight: 700;
    padding: 9px 25px;
    background: rgb(, 210, 218);
    border: 10px;
    border-radius: 50px;
    cursor: pointer;
    transition: all 03s ease 0;
}
.header .btn button:hover{
    background-color: rgb(218, 215, 195);
    color: khaki;
    transform: scale(1.1);
}

header .logo img{
    border-radius: 50px;
    transition: all 03s ease 0;
}
 form{
    background-color: rgb(32, 161, 129);
    padding: 70px;
    border-radius:15px;
    box-shadow:0px 0px 10px rgba(0,0,0,1);
    width: 450px;
 }
  h2{
    text-align: center;
    color:#333;
    margin-bottom: 20px;
  }

  label{
    display:block;
    margin-top:15px;
    font-weight: bold;
    color:#444;
  }

  input[types="text"],
  input[types="email"],{
  width:10%;
  padding:8px,
   top 5px;
  border:1px solid #ccc;
  border-radius:8px;
  box-sizing:border-box;
  
  }

  input[type="submit"]{
    margin-top; 20px;
    width: 100%;
    padding; 10px ;
    background-color: #45a049;
    color: white;
    border: none;
    border-radius: 8px ;
    cursor:pointex;
    font-size: 16px;
  }
  
  a{
    display:block;
    text-align:center;
    margin-top:15px;
    color:#030303;
    text-decoration: none;
  }
  a:hover{
    text-decoration: underline;
  }
